<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投资组合持仓</title>


    <script src='https://libs.jshub.com/jquery/3.6.0/jquery.min.js'
            integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>

    <link rel="stylesheet" type="text/css" href="static/layui/css/layui.css"/>
    <script src="static/layui/layui.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/ws.js"></script>


    <script type="text/javascript">
        function refreshPage() {
            $('#t2').load('portfolio-refresh');
        }




    </script>

</head>
<body>



<div class="main-container">
    <div class="main-content">
        <div th:fragment="t2" id="t2">


            <div th:each="item:${positons}">
                <hr/>
                <div th:text="'投资组合：'+${item.portfolio.info}" style="font-size:20px"></div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div th:text="'总持仓成本: '+${item.sumPositionCost}"></div>
                        <div th:text="'单标满仓金额: '+${item.fullPosition}"></div>
                    </div>
                    <div class="layui-col-xs6">
                        <div th:text="'总盈亏：'+${item.sumProfitLosses}" th:style="${item.pLStyle}"></div>
                        <div th:text="'总盈亏比: '+${item.sumProfitLossesRate}" th:style="${item.pLStyle}"></div>
                    </div>
                </div>
                <div th:each="targetitem:${item.targetProfitLossList}">
                <HR style="border:1 dashed #987cb9" width="80%" color=#987cb9 SIZE=1>
                <div class="layui-row">

                    <div class="layui-col-xs1">
                        <div th:text="${targetitem.code}"></div>
                        <div th:text="${targetitem.name}"></div>
                        <HR align=center color=#987cb9 SIZE=1>
                        <div>当前价格</div>
                        <div th:text="${targetitem.realPrice}" style="font-size:20px"></div>
                    </div>
                    <div class="layui-col-xs2">
                        <div th:text="'当前仓位: '+${targetitem.currentPositionRate}"></div>
                        <div th:text="'成本仓位: ' + ${targetitem.costPositionRate}"></div>
                        <HR align=center color=#987cb9 SIZE=1>

                        <div th:text="'盈亏: '+ ${targetitem.targetProfitLoss}"
                             th:style="${targetitem.pLStyle}"></div>
                        <div th:text="'盈亏比： '+${targetitem.targetProfitLossRate}"
                             th:style="${targetitem.pLStyle}"></div>

                        <HR align=center color=#987cb9 SIZE=1>
                        <div>建议买入点</div>
                        <div>建议卖出点</div>

                    </div>
                    <div class="layui-col-xs9">
                        <table class="reversal">
                            <tr>
                                <th>买入日期</th>
                                <th>买入价格</th>
                                <th>数量</th>
                                <th>盈亏</th>
                                <th>盈亏比</th>

                            </tr>

                            <tr th:each="entityItem:${targetitem.positionProfitLosses}">
                                <td th:text="${entityItem.buyInDateShow}"></td>
                                <td th:text="${entityItem.position.buyInPrice}"></td>
                                <td th:text="${entityItem.position.number}"></td>
                                <td th:text="${entityItem.profitLoss}"
                                    th:style="${entityItem.positionTablePLStyle}"></td>
                                <td th:text="${entityItem.profitLossRateShow}"
                                    th:style="${entityItem.positionTablePLStyle}"></td>

                            </tr>


                        </table>
                    </div>

                </div>
            </div>


            </div>



        </div>
    </div>
    <div class="float-button">
<!--            <input type="button" id="wsopen" value="wsopen" onclick="reconnect()"/>-->
<!--            <input type="button" value="刷新数据" onclick="refreshPage()">-->
        <i class="layui-icon layui-icon-refresh-3" style="font-size: 40px; color: #fefcfc" onclick="refreshPage()"></i>

    </div>
</div>


<!--<div class="parentDiv">-->
<!--    <div class="topDiv">-->
<!--        <div>-->
<!--            <input type="button" id="wsopen" value="wsopen" onclick="reconnect()"/>-->
<!--            <input type="button" value="刷新数据" onclick="refreshPage()">-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="moveDiv" style="height:2000px">-->
<!--        <div th:fragment="t2" id="t2">-->


<!--            <div th:each="item:${positons}">-->
<!--                <hr/>-->
<!--                <div th:text="'投资组合：'+${item.portfolio.info}" style="font-size:20px"></div>-->

<!--                <div class="layui-row">-->
<!--                    <div class="layui-col-xs6">-->
<!--                        <div th:text="'总持仓成本: '+${item.sumPositionCost}"></div>-->
<!--                        <div th:text="'单标满仓金额: '+${item.fullPosition}"></div>-->
<!--                    </div>-->
<!--                    <div class="layui-col-xs6">-->
<!--                        <div th:text="'总盈亏：'+${item.sumProfitLosses}" th:style="${item.pLStyle}"></div>-->
<!--                        <div th:text="'总盈亏比: '+${item.sumProfitLossesRate}" th:style="${item.pLStyle}"></div>-->
<!--                    </div>-->
<!--                </div>-->

<!--s                <div th:each="targetitem:${item.targetProfitLossList}">-->
<!--                    <HR style="border:1 dashed #987cb9" width="80%" color=#987cb9 SIZE=1>-->
<!--                    <div class="layui-row">-->

<!--                        <div class="layui-col-xs1">-->
<!--                            <div th:text="${targetitem.code}"></div>-->
<!--                            <div th:text="${targetitem.name}"></div>-->
<!--                            <HR align=center color=#987cb9 SIZE=1>-->
<!--                            <div>当前价格</div>-->
<!--                            <div th:text="${targetitem.realPrice}" style="font-size:20px"></div>-->
<!--                        </div>-->
<!--                        <div class="layui-col-xs2">-->
<!--                            <div th:text="'当前仓位: '+${targetitem.currentPositionRate}"></div>-->
<!--                            <div th:text="'成本仓位: ' + ${targetitem.costPositionRate}"></div>-->
<!--                            <HR align=center color=#987cb9 SIZE=1>-->

<!--                            <div th:text="'盈亏: '+ ${targetitem.targetProfitLoss}"-->
<!--                                 th:style="${targetitem.pLStyle}"></div>-->
<!--                            <div th:text="'盈亏比： '+${targetitem.targetProfitLossRate}"-->
<!--                                 th:style="${targetitem.pLStyle}"></div>-->

<!--                            <HR align=center color=#987cb9 SIZE=1>-->
<!--                            <div>建议买入点</div>-->
<!--                            <div>建议卖出点</div>-->

<!--                        </div>-->
<!--                        <div class="layui-col-xs9">-->
<!--                            <table class="reversal">-->
<!--                                <tr>-->
<!--                                    <th>买入日期</th>-->
<!--                                    <th>买入价格</th>-->
<!--                                    <th>数量</th>-->
<!--                                    <th>盈亏</th>-->
<!--                                    <th>盈亏比</th>-->

<!--                                </tr>-->

<!--                                <tr th:each="entityItem:${targetitem.positionProfitLosses}">-->
<!--                                    <td th:text="${entityItem.buyInDateShow}"></td>-->
<!--                                    <td th:text="${entityItem.position.buyInPrice}"></td>-->
<!--                                    <td th:text="${entityItem.position.number}"></td>-->
<!--                                    <td th:text="${entityItem.profitLoss}"-->
<!--                                        th:style="${entityItem.positionTablePLStyle}"></td>-->
<!--                                    <td th:text="${entityItem.profitLossRateShow}"-->
<!--                                        th:style="${entityItem.positionTablePLStyle}"></td>-->

<!--                                </tr>-->


<!--                            </table>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->


<!--            </div>-->



<!--        </div>-->
<!--    </div>-->

<!--<hr/>-->
<!--</div>-->


</body>
</html>