<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>持仓实时盈亏</title>

    <script src='https://libs.jshub.com/jquery/3.6.0/jquery.min.js'
            integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>

    <script src="static/ws.js"></script>
    <script type="text/javascript">


        function refresh() {
            $.ajax({
                type: "GET",
                url: "/refresh-quote",
                success: function (result) {
                    // alert(result);
                },
                error: function () {
                    alert("error!");
                }
            });
        }

        function refresh_one(code) {

            $.ajax({
                type: "GET",
                url: "/refresh-quote-single",
                data: {"code": code},
                success: function (result) {
                    // alert(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error!");
                }
            });
        }



        function close_position(id) {
            $.ajax({
                type: "GET",
                url: "/close-position",
                data: {"tid": id},
                success: function (result) {
                    // alert(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error!");
                }
            });
        }

        function display_one(code){
            console.log("display_one");

            $.ajax({
                type: "GET",
                url: "/real-position-single",
                data: {"code": code},
                success: function (result) {
                    // alert(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error!");
                }
            });
        }

    </script>
</head>
<body>


<div>
    <input type="button" id="wsopen" value="wsopen" onclick="reconnect()"/>
    <input type="button" id="refresh-price" value="刷新行情" onclick="refresh()"/>

    <!--    todo 开仓功能-->
    <input type="button" id="open-positon" value="开仓">

</div>


<div th:fragment="t1" id="t1">

    <div style="display:flex">
        <div style="float:left">
            <div>
                持仓总成本
                <span th:text="${totalPositionCost}"></span>
            </div>
            <div>持仓盈亏比

                <span th:if="${totalProfitLosseRate} gt 0">
                <span th:text="${totalProfitLosseRate}" style="color:red;"></span>
            </span>
                <span th:if="${totalProfitLosseRate} lt 0">
                <span th:text="${totalProfitLosseRate}" style="color:green;"></span>
            </span>
                <span th:if="${totalProfitLosseRate} eq 0">
                <span th:text="${totalProfitLosseRate}"></span>
            </span>
            </div>
            <div>持仓盈亏

                <span th:if="${sumProfitLosses} gt 0">
                <span th:text="${sumProfitLosses}" style="color:red;"></span>
            </span>
                <span th:if="${sumProfitLosses} lt 0">
                <span th:text="${sumProfitLosses}" style="color:green;"></span>
            </span>
                <span th:if="${sumProfitLosses} eq 0">
                <span th:text="${sumProfitLosses}"></span>
            </span>

            </div>
        </div>
        <div style="float:left">
            <div>
            </div>
            <div>
            </div>
            <div>

            </div>
        </div>
        <div style="float:left">
            <div>
<!--                <input type="button" id="display-all" value="ALL">-->
<!--                <input type="button" id="sh601919" value="中远海控" onclick="display_one('sh601919')">-->

            </div>
        </div>

    </div>


    <table border="1" cellspacing="0">
        <thead>
        <tr>
            <th>代码</th>
            <th>名称</th>
            <th>盈亏</th>
            <th>盈亏比</th>
            <th>数量</th>
            <th>当前价格</th>
            <th>买入价格</th>

            <th>买入日期</th>

            <th>投资组合</th>

            <th></th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="item:${positons}">
            <td th:text="${item.position.code}"></td>
            <td th:text="${item.position.name}"></td>

            <!--            盈亏-->
            <td th:text="${item.profitLoss}" th:style="${item.positionTablePLStyle}"></td>

            <!--            盈亏比-->
            <td th:text="${item.profitLossRateShow}" th:style="${item.positionTablePLStyle}"></td>

            <td th:text="${item.position.number}"></td>

            <!--            实时价格-->
            <td th:text="${item.realPrice}" style="color:#f28500;"></td>


            <!--买入价格-->
            <td th:text="${item.position.buyInPrice}"></td>
            <!--买入日期-->
            <td th:text="${item.buyInDateShow}"></td>
            <!--            投资组合-->
            <td th:text="${item.portfolioShow}"></td>

            <td>
                <!--                 平仓功能-->
                <input type="button" value="平仓" th:data-id="${item.position.id}"
                       onclick="close_position(this.getAttribute('data-id'))"/>
                <!--          todo       修改持仓数据-->
                <input type="button" value="修改持仓数量"/>
            </td>

        </tr>
        </tbody>
    </table>

</div>


</body>
</html>